<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.37.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.1.0" targetFramework="net45" />
  <package id="Irony" version="0.9.1" targetFramework="net45" />
  <package id="Irony.Interpreter" version="0.9.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>